pydantic==2.9.2
pydantic-settings==2.2.1
numpy==2.1.2
pandas==2.2.3
SQLAlchemy==2.0.36
retry==0.9.2
psutil==6.1.0
psycopg2==2.9.10

# data
yfinance==0.2.52  # optional
python-binance==1.0.22  # optional

# exchange
ccxt==4.4.34  # optional

# slack
slack_sdk  # optional

# plot
mplfinance==0.12.10b0  # optional

# parallel computing
dask[complete]==2024.11.2

# dev only
pytest==8.3.3
syrupy==4.8.0
ruff==0.7.1
build==1.2.2.post1
