# install_requires
pydantic==2.10.6
pydantic-settings==2.2.1
numpy==2.2.4
pandas==2.2.3
SQLAlchemy==2.0.36
retry==0.9.2
psutil==6.1
fire==0.7
streamlit==1.44
dask[complete]==2025.5.1
dask-kubernetes==2025.1.1

# database
psycopg2==2.9.10

# data
yfinance==0.2.55  # optional
python-binance==1.0.28  # optional

# exchange
ccxt==4.4.71  # optional

# slack
slack_sdk  # optional

# plot
mplfinance==0.12.10b0  # optional

# dev only
pytest==8.3.5
syrupy==4.9.1
ruff==0.7.1
build==1.2.2.post1
